*~
all-tests
cmake_install.cmake
all-tests.dSYM/
Makefile
CMakeCache.txt
CMakeFiles/
log_test.txt
test/flat_pe_tile_new_unq1.json
circuit_jit.cpp
libcircuit_jit.dylib
pe_cells.txt
libcircuit_jit.dylib.dSYM/
\#*
.\#*
a.out
conv_test_output.txt
conv_test_output_bits_en.txt
libflatcircuit.a
mul_2_cgra_specialized
my-main
run-benchmarks
test/memory_tile_unq1_saved.json
mul_2_pe.v
mul_2_cgra
conv_2_1
conv_3_1
conv_3_3