*~
all-tests
cmake_install.cmake
all-tests.dSYM/
Makefile
CMakeCache.txt
CMakeFiles/
log_test.txt
test/flat_pe_tile_new_unq1.json
circuit_jit.cpp
libcircuit_jit.dylib
pe_cells.txt
libcircuit_jit.dylib.dSYM/
\#*
.\#*
a.out
conv_test_output.txt
conv_test_output_bits_en.txt
libflatcircuit.a
mul_2_cgra_specialized
my-main
run-benchmarks
test/memory_tile_unq1_saved.json
mul_2_pe.v
mul_2_cgra
conv_2_1
conv_3_1
conv_3_3
mul_2
conv_bw
conv_2_1_specialized
conv_bw_specialized
*.txt
specialize-bitstream
x_prop
top.json
.DS_Store
lb_test
*.dSYM/
regression-tests
small-tests
*.dylib
adder_tb
compare-to-iverilog
conv_3_1_specialized
negate.csv
passthrough.csv
pe_tb_x2.v
pe_x2_tb
pre_specialized_conv_2_1_cgra.v
circuit_jit_conv_3_1.cpp
circuit_jit_raw.cpp
